<div id="email-body" class="email-section col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">

  <div id="to">To: taylor@lamarsoftware.io</div>
  <div id="from">From: re-reply@officenbc.com</div>

  <div id="email-title-bar">
      <h4>Michael Scott Daily Quotes</h4>
      <i class="fa fa-trash"></i>
      <i class="fa fa-reply"></i>
      <i class="fa fa-ellipsis-h"></i>
  </div>
  <div id="content">
      <p>"Friends joke with one another. 'Hey you're poor.' 'Hey, your momma's dead.' That's what friends do."</p>
      <p>"It's a good thing Russia doesn't exist anymore."</p>
      <p>"You cheated on me? When I specifically asked you not to?"</p>
      <p>"It just seems awfully mean. But sometimes, the ends justify the mean."</p>
      <p>"Reverse psychology is an awesome tool. I don't know if you guys know about it, but, basically,
          you make someone think the opposite of what you believe, and that tricks them into doing
          something stupid. Works like a charm."
      </p>
  </div>

  <app-reply></app-reply>
</div>
