<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1">LinkedIn</h6>
      <small>02:45pm</small>
    </div>
    <p class="mb-1">You have a new connection request</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1">Michael Scott Daily Quotes</h6>
      <small>Jul 3, 2020</small>
    </div>
    <p class="mb-1">I'm optimistic because every day I get a little more desp...</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1">LaMar Software</h6>
      <small>Feb 9, 2020</small>
    </div>
    <p class="mb-1">Learn how you can give us money by calling (209) 322-7...</p>
  </a>
</div>
